@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

section {
  background-image: url(../public/assets/vector.svg);
  background-repeat: no-repeat;
  /* background-size: cover;*/
  background-position: top 2% right -45%; 
}